.avatar img {
  object-fit: cover;
}

.p-header-logo.p-header-logo--image > a[href="/sosyal/"] > img {
  content: url(moz-extension://__MSG_@@extension_id__/techolay-dijitalfikir.png) !important;
  width: 275px !important;
  height: 59px !important;
  aspect-ratio: auto 275 / 59 !important;
}

.p-nav-smallLogo > a[href="/sosyal/"] > img {
  content: url(moz-extension://__MSG_@@extension_id__/techolay-dijitalfikir.png) !important;
  width: 280px !important;
  height: 20px !important;
}

.p-header-inner {
  max-width: 1250px !important;
}

.p-nav-inner {
  max-width: 1250px !important;
}

.p-sectionLinks-inner {
  max-width: 1250px !important;
}

.p-body-inner {
  max-width: 1250px !important;
}

.p-footer-inner {
  max-width: 1250px !important;
}

.button.button--cta, a.button.button--cta {
  color: #fff !important;
  background: #b37110 !important;
  border-color: #f39e25 #da840c #da840c #f39e25 !important;
}

.button.button--cta.button--splitTrigger>.button-text,a.button.button--cta.button--splitTrigger>.button-text {
  border-right-color: #da840c !important
}

.button.button--cta.button--splitTrigger>.button-menu,a.button.button--cta.button--splitTrigger>.button-menu {
  border-left-color: #f39e25 !important
}

.button.button--cta:not(.button--splitTrigger):hover,
a.button.button--cta:not(.button--splitTrigger):hover,
.button.button--cta.button--splitTrigger>.button-text:hover,
a.button.button--cta.button--splitTrigger>.button-text:hover,
.button.button--cta.button--splitTrigger>.button-menu:hover,
a.button.button--cta.button--splitTrigger>.button-menu:hover,
.button.button--cta:not(.button--splitTrigger):focus,
a.button.button--cta:not(.button--splitTrigger):focus,
.button.button--cta.button--splitTrigger>.button-text:focus,
a.button.button--cta.button--splitTrigger>.button-text:focus,
.button.button--cta.button--splitTrigger>.button-menu:focus,
a.button.button--cta.button--splitTrigger>.button-menu:focus,
.button.button--cta:not(.button--splitTrigger):active,
a.button.button--cta:not(.button--splitTrigger):active,
.button.button--cta.button--splitTrigger>.button-text:active,
a.button.button--cta.button--splitTrigger>.button-text:active,
.button.button--cta.button--splitTrigger>.button-menu:active,
a.button.button--cta.button--splitTrigger>.button-menu:active {
  background-color: #d48712 !important
}